@import "fullpage.js/dist/fullpage.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Geist', sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

.animation-delay-0 { animation-delay: 0ms; }
.animation-delay-200 { animation-delay: 200ms; }
.animation-delay-500 { animation-delay: 500ms; }
